html, body, .container-fluid {
  height: 100%;
  background-color: #111;
}

html {
  -webkit-app-region: drag;
}

.container-fluid {
  padding: 25px;
}
.center {
  padding: 10px 0;
  text-align: center;
}
h3 {
  color: rgb(110, 109, 109);
  margin: 6px 0px;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input {
  background-color:#4CAF50;
  width: 100%;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  color: white;
  padding: 10px 32px;
  font-size: large;
  margin: 4px 0px;
  cursor: pointer;
}
.color_picker_img {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
  cursor: pointer;
  margin: 0px 3px;
}
.wrapper{
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}
.img_wrapper{
  text-align: right;
}
.logo_img{
  margin: 0px 10px;
  max-width: 100%;
  height: auto;
  width: auto;
}
.input_block{
  height: auto;
  width: auto;
}